body {
    background-color: #fafafa;
}

.container {
    margin: 150px auto;
}

.demo {
    height: 800px;
    margin-bottom: 10px;
    background-color: white;
}




.flowchart-operator {
    position: absolute;
    width: 210px;
    background: #FAFAFA;
    pointer-events: initial;
}


.flowchart-operator-outputs {
    display: table-cell;
    width: 100%;
}



.flowchart-operator-yellow {
    position: absolute;
    width: 210px;
    background: #ffce80;
    pointer-events: initial;
    border-radius: 30px;
    min-height: 11%;
}

    .flowchart-operator-yellow .flowchart-operator-title {
        width: 100%;
        padding: 5px;
        font-weight: bold;
        border-bottom: 1px solid #ffb848;
        background: #ffb848;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: move;
        
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        text-align: center;

    }




.flowchart-operator-blue {
    position: absolute;
    width: 210px;
    background: #78c8ed;
    pointer-events: initial;
    border-radius: 30px;
        min-height: 11%;
}


    .flowchart-operator-blue .flowchart-operator-title {
        width: 100%;
        padding: 5px;
        font-weight: bold;
        border-bottom: 1px solid #27a9e3;
        background: #27a9e3;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: move;
        
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        text-align: center;

    }


.flowchart-operator-green {
    position: absolute;
    width: 210px;
    background: #58daa2;
    pointer-events: initial;
    border-radius: 30px;
        min-height: 11%;
}

    .flowchart-operator-green .flowchart-operator-title {
        width: 100%;
        padding: 5px;
        font-weight: bold;
        border-bottom: 1px solid #28b779;
        background: #28b779;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: move;
        
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        text-align: center;

    }

    .flowchart-operator-green .flowchart-operator-inputs {
        display: table-cell;
        width: 100%;
    }



.flowchart-operator-purple {
    position: absolute;
    width: 210px;
    border: 1px solid #CCCCCC;
    background: #bd60d2;
    pointer-events: initial;
    border-radius: 30px;
        min-height: 11%;

}


    .flowchart-operator-purple .flowchart-operator-title {
        width: 100%;
        padding: 5px;
        font-weight: bold;
        border-bottom: 1px solid #ad38c7;
        background: #ad38c7;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: move;
        
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        text-align: center;

    }


.flowchart-operator-cxc {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #CCCCCC;
    background-image: url("cxc_logo.png");
    border: 0px ;
    pointer-events: initial;
}


.flowchart-operator-cxc .flowchart-operator-title {
    
    padding: 0px;
    border-bottom: 0px;
    background: #fafafa;
    
}


.flowchart-operator-connector-arrow {
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}

.flowchart-operator-outputs .flowchart-operator-connector-label {
    text-align: center;
}

.flowchart-operator-connector-small-arrow {
    
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    
}